= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "devise-forms"}) do |f|
  - msg = devise_error_messages!
  - if !msg.empty?
    - flash[:msg] = msg.split("<li>").pop.to_s.split("</li>")[0].html_safe  
  .row-fluid 
    %h2.form-signin-heading Please sign up
  .row-fluid
    = f.email_field :email, class: "input-block-level", placeholder: "Email address"
  .row-fluid
    = f.password_field :password, class: "input-block-level", placeholder: "Password"
  .row-fluid
    = f.password_field :password_confirmation, class: "input-block-level", placeholder: "Password confirmation"
  .row-fluid
    .span5
      = f.submit "Sign up", class: "btn btn-large btn-primary"
    .span7
      = render "devise/shared/links"
