<% provide(:title, @user.email) %>

<h3>
	<%= image_tag @user.avatar.url(:medium), class: "img-rounded" %>
	<%= @user.email %>
</h3>
<div class="span8">
	<% if @user.microposts.any? %>
	  <h3>Microposts (<%= @user.microposts.count %>)</h3>
	  <ol class="microposts">
	    <%= render @microposts %>
	  </ol>
	  <%= will_paginate @microposts %>
	<% end %>
</div>