%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container-fluid
      = link_to "Home", root_path, :class => 'brand'
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            %a{href: edit_user_registration_path}
              = image_tag current_user.avatar.url(:small)
              %strong
                = current_user.email.split("@")[0].html_safe
          %li
            = link_to('<i class="icon-signout icon-large"></i>'.html_safe, destroy_user_session_path, :method=>'delete', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => 'Sign out', title:'')
          %li
            %span
              &nbsp;&nbsp;&nbsp;
        - else
          %li
            = link_to('<i class="icon-signin icon-large"></i>'.html_safe, new_user_session_path, 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-original-title' => 'Sign in', title:'')
        - if !user_signed_in?
          %li
            = link_to('Sign up', new_user_registration_path)
          %li
            %span
              &nbsp;&nbsp;&nbsp;