!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = render partial: 'init/bootstrap'
    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'layouts/header/navigation'
    #main{:role => "main"}
      .container-fluid
        .content
          .row-fluid
            .span12
              &nbsp;
          .row-fluid
            .span12
              = render 'layouts/header/messages'
              = yield
          - if signed_in?
            .main.client.application.row-fluid
          %footer
